* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    button {
        outline: none;
        border: none;
        background-color: transparent;
    }
    input {
        border: none;
        outline: none;
    }
}

html,
body {
    width: 100%;
    height: 100%;
}
#app {
    height: 100%;
    min-height: 100vh;
    min-height: 100%;
}

.loginContainerWrapper {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    .loginContainer {
        overflow: auto;
        background-color: #ffeb34;
        width: 500px;
        height: 100%;
        .loginLogoContainer {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 50px;
            .loginLogo {
                width: 250px;
                height: 250px;
            }
        }
        .loginFormContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            .loginInputContainer {
                display: flex;
                flex-direction: column;
                width: 80%;
                padding: 80px 0 20px 0;
                input {
                    height: 40px;
                    padding: 0 0 0 10px;
                    font-size: 15px;
                    border-left: 1px solid #ddd;
                    border-right: 1px solid #ddd;
                    border-bottom: 1px solid #ddd;
                    &::placeholder {
                        color: #ddd;
                    }
                    &:first-child {
                        border-top: 1px solid #ddd;
                    }
                }
            }
            .loginButton {
                width: 80%;
                height: 60px;
                background: #715d5e;
                border: 1px solid #444;
                border-radius: 3px;
                outline: none;
                font-size: 18px;
                font-weight: 500;
                color: gray;
                cursor: pointer;
                margin-bottom: 60px;
            }
        }
    }
}

.mainContainerWrapper {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    .mainContainer {
        border: 1px solid #4a3134;
        background: pink;
        overflow: auto;
        background-color: #fefefe;
        width: 500px;
        height: 100%;
        display: flex;
        flex-direction: column;
        .headerContainer {
            display: flex;
            flex-direction: column;
            width: 100%;
            .headerBar {
                height: 55px;
                background-color: #4a3134;
                display: flex;
                align-items: center;
                justify-content: space-between;
                span {
                    padding-left: 10px;
                    color: #fefefe;
                    font-size: 20px;
                }
                .headerButtonContainer {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    button {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-right: 20px;
                        cursor: pointer;
                        img {
                            width: 25px;
                            height: 25px;
                            filter: invert(80%);
                        }
                    }
                }
            }
            .headerTab {
                width: 100%;
                height: 55px;
                border-bottom: 1px solid #bbb;
                display: flex;
                .tabButton {
                    width: 25%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    cursor: pointer;
                    &:first-child {
                        border-bottom: 2px solid #3e3133;
                        img {
                            margin-bottom: -2px;
                        }
                    }
                    img {
                        width: 30px;
                        height: 30px;
                    }
                }
            }
        }
        .search {
            width: 100%;
            input {
                width: 100%;
                height: 50px;
                padding-left: 10px;
                font-size: 16px;
                &::placeholder {
                    font-size: 18px;
                    color: #777;
                }
            }
        }
        .main {
            .myProfileText {
                width: 100%;
                height: 40px;
                display: flex;
                align-items: center;
                border-top: 1px solid #dedede;
                border-bottom: 1px solid #dedede;
                span {
                    padding-left: 15px;
                    color: #9e9e9e;
                    font-size: 14px;
                    font-weight: 550;
                }
            }
            .myProfile {
                height: 80px;
                display: flex;
                align-items: center;
                img {
                    margin-left: 15px;
                    cursor: pointer;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                }
                span {
                    color: #444;
                    padding-left: 15px;
                    font-weight: bold;
                }
            }
            .profile {
                height: 80px;
                display: flex;
                align-items: center;
                border-bottom: 1px solid #e9e9e9;
                img {
                    margin-left: 15px;
                    cursor: pointer;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                }
                span {
                    color: #444;
                    padding-left: 15px;
                    font-weight: bold;
                }
            }
        }
    }
}
