* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* button {
  outline: none;
  border: none;
  background-color: transparent;
}

* input {
  border: none;
  outline: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

#app {
  height: 100%;
  min-height: 100vh;
  min-height: 100%;
}

.loginContainerWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loginContainerWrapper .loginContainer {
  overflow: auto;
  background-color: #ffeb34;
  width: 500px;
  height: 100%;
}

.loginContainerWrapper .loginContainer .loginLogoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px;
}

.loginContainerWrapper .loginContainer .loginLogoContainer .loginLogo {
  width: 250px;
  height: 250px;
}

.loginContainerWrapper .loginContainer .loginFormContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loginContainerWrapper .loginContainer .loginFormContainer .loginInputContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  padding: 80px 0 20px 0;
}

.loginContainerWrapper .loginContainer .loginFormContainer .loginInputContainer input {
  height: 40px;
  padding: 0 0 0 10px;
  font-size: 15px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.loginContainerWrapper .loginContainer .loginFormContainer .loginInputContainer input::-webkit-input-placeholder {
  color: #ddd;
}

.loginContainerWrapper .loginContainer .loginFormContainer .loginInputContainer input:-ms-input-placeholder {
  color: #ddd;
}

.loginContainerWrapper .loginContainer .loginFormContainer .loginInputContainer input::-ms-input-placeholder {
  color: #ddd;
}

.loginContainerWrapper .loginContainer .loginFormContainer .loginInputContainer input::placeholder {
  color: #ddd;
}

.loginContainerWrapper .loginContainer .loginFormContainer .loginInputContainer input:first-child {
  border-top: 1px solid #ddd;
}

.loginContainerWrapper .loginContainer .loginFormContainer .loginButton {
  width: 80%;
  height: 60px;
  background: #715d5e;
  border: 1px solid #444;
  border-radius: 3px;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  color: gray;
  cursor: pointer;
  margin-bottom: 5px;
}

.loginContainerWrapper .loginContainer .loginFormContainer .moveButton {
  width: 80%;
  height: 60px;
  background: #715d5e;
  border: 1px solid #444;
  border-radius: 3px;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  color: gray;
  cursor: pointer;
  margin-bottom: 60px;
}

.headerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.headerContainer .headerBar {
  height: 55px;
  background-color: #4a3134;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.headerContainer .headerBar span {
  padding-left: 10px;
  color: #fefefe;
  font-size: 20px;
}

.headerContainer .headerBar .headerButtonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.headerContainer .headerBar .headerButtonContainer button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 20px;
  cursor: pointer;
}

.headerContainer .headerBar .headerButtonContainer button img {
  width: 25px;
  height: 25px;
  -webkit-filter: invert(80%);
          filter: invert(80%);
}

.headerContainer .headerTab {
  width: 100%;
  height: 55px;
  border-bottom: 1px solid #bbb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.headerContainer .headerTab .tabButton {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

.headerContainer .headerTab .tabButton img {
  width: 30px;
  height: 30px;
}

.headerContainer .headerTab .focus {
  border-bottom: 2px solid #3e3133;
}

.headerContainer .headerTab .focus img {
  margin-bottom: -2px;
}

.search {
  width: 100%;
  border-bottom: 1px solid #d9d9d9;
}

.search input {
  width: 100%;
  height: 50px;
  padding-left: 10px;
  font-size: 16px;
}

.search input::-webkit-input-placeholder {
  font-size: 18px;
  color: #777;
}

.search input:-ms-input-placeholder {
  font-size: 18px;
  color: #777;
}

.search input::-ms-input-placeholder {
  font-size: 18px;
  color: #777;
}

.search input::placeholder {
  font-size: 18px;
  color: #777;
}

.search .searchBox {
  display: none;
  background-color: rgba(151, 151, 151, 0.1);
  width: 100%;
  min-height: 60px;
  padding: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
}

.search .searchBox .searchElement {
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search .searchBox .searchElement img {
  height: 100%;
  border-radius: 50%;
}

.search .searchBox .searchElement .searchText {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 15px;
}

.search .searchBox .searchElement .searchText .nickname {
  font-size: 18px;
  font-weight: bold;
}

.search .searchBox .searchElement .searchText .email {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.3);
}

.search .searchBox .searchElement button {
  font-weight: bold;
  border: 2px solid #4a3134;
  color: #4a3134;
  padding: 5px;
  border-radius: 15px;
  cursor: pointer;
}

.mainContainerWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainContainerWrapper .mainContainer {
  border: 1px solid #4a3134;
  background: pink;
  overflow: auto;
  background-color: #fefefe;
  width: 500px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mainContainerWrapper .mainContainer .main .myProfileText {
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
}

.mainContainerWrapper .mainContainer .main .myProfileText span {
  padding-left: 15px;
  color: #9e9e9e;
  font-size: 14px;
  font-weight: 550;
}

.mainContainerWrapper .mainContainer .main .myProfile {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mainContainerWrapper .mainContainer .main .myProfile .profileLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.mainContainerWrapper .mainContainer .main .myProfile .profileLeft img {
  margin-left: 15px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.mainContainerWrapper .mainContainer .main .myProfile .profileLeft span {
  color: #444;
  padding-left: 15px;
  font-weight: bold;
}

.mainContainerWrapper .mainContainer .main .myProfile .profileMessage {
  background-color: #feee5a;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  margin-right: 10px;
  max-width: 300px;
}

.mainContainerWrapper .mainContainer .main .myProfile .profileMessage::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -15px;
  border-top: 8px solid transparent;
  border-left: 8px solid transparent;
  border-right: 8px solid #feee5a;
  border-bottom: 8px solid transparent;
}

.mainContainerWrapper .mainContainer .main .myProfile .profileMessage span {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.mainContainerWrapper .mainContainer .main .profile {
  height: 80px;
  border-bottom: 1px solid #e9e9e9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mainContainerWrapper .mainContainer .main .profile .profileLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.mainContainerWrapper .mainContainer .main .profile .profileLeft img {
  margin-left: 15px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.mainContainerWrapper .mainContainer .main .profile .profileLeft span {
  color: #444;
  padding-left: 15px;
  font-weight: bold;
}

.mainContainerWrapper .mainContainer .main .profile .profileMessage {
  background-color: #feee5a;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  margin-right: 10px;
  max-width: 300px;
}

.mainContainerWrapper .mainContainer .main .profile .profileMessage::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -15px;
  border-top: 8px solid transparent;
  border-left: 8px solid transparent;
  border-right: 8px solid #feee5a;
  border-bottom: 8px solid transparent;
}

.mainContainerWrapper .mainContainer .main .profile .profileMessage span {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.chatContainerWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.chatContainerWrapper .chatContainer {
  border: 1px solid #4a3134;
  background: pink;
  overflow: auto;
  background-color: #fefefe;
  width: 500px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.chatContainerWrapper .chatContainer .chat .chatRoom {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #d9d9d9;
}

.chatContainerWrapper .chatContainer .chat .chatRoom .imageContainer {
  width: 70px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 10px;
}

.chatContainerWrapper .chatContainer .chat .chatRoom .imageContainer img {
  width: 100%;
  height: 100%;
}

.chatContainerWrapper .chatContainer .chat .chatRoom .roomContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-item-align: start;
      align-self: flex-start;
  overflow: hidden;
  margin-top: 10px;
  margin-left: 20px;
}

.chatContainerWrapper .chatContainer .chat .chatRoom .roomContent .roomTitle {
  font-weight: bold;
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chatContainerWrapper .chatContainer .chat .chatRoom .roomContent .chatContent {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-height: 1.2em;
  height: 3.6em;
  margin-top: 2px;
}

.chatContainerWrapper .chatContainer .chat .chatRoom .roomInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 10px;
  margin-right: 10px;
}

.chatContainerWrapper .chatContainer .chat .chatRoom .roomInfo .time {
  font-size: 12px;
  font-weight: 550;
}

.chatContainerWrapper .chatContainer .chat .chatRoom .roomInfo .unread {
  margin-top: 15px;
  background-color: #ea5546;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 15px;
  color: white;
}

.roomContainerWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.roomContainerWrapper .roomContainer {
  border: 1px solid #4a3134;
  overflow: auto;
  background-color: #9bbbd4;
  width: 500px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.roomContainerWrapper .roomContainer .headerBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  border-bottom: 1px solid #4d4d4d42;
  background-color: #9fbdd5;
}

.roomContainerWrapper .roomContainer .headerBar .headerLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.roomContainerWrapper .roomContainer .headerBar .headerLeft img {
  width: 30px;
  height: 25px;
  cursor: pointer;
  margin-right: 15px;
}

.roomContainerWrapper .roomContainer .headerBar .headerLeft .roomName {
  font-size: 23px;
  margin-right: 5px;
}

.roomContainerWrapper .roomContainer .headerBar .headerLeft .friendsNum {
  font-size: 23px;
  color: #ede62e;
}

.roomContainerWrapper .roomContainer .headerBar .headerRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

.roomContainerWrapper .roomContainer .headerBar .headerRight img {
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin-right: 10px;
}

.roomContainerWrapper .roomContainer .roomContent {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: scroll;
  /* Chatting Room's Content Style */
}

.roomContainerWrapper .roomContainer .roomContent .chat {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.roomContainerWrapper .roomContainer .roomContent .chat img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 3px;
}

.roomContainerWrapper .roomContainer .roomContent .chat .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.roomContainerWrapper .roomContainer .roomContent .chat .content .name {
  font-size: 17px;
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 3px;
}

.roomContainerWrapper .roomContainer .roomContent .chat .content .speechBuble {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 3px;
  position: relative;
  margin-left: 10px;
  max-width: 330px;
  word-break: break-all;
}

.roomContainerWrapper .roomContainer .roomContent .chat .content .speechBuble:before {
  content: "";
  position: absolute;
  top: 5px;
  left: -13px;
  border-bottom: 8px solid transparent;
  border-top: 8px solid #ffffff;
  border-left: 8px solid transparent;
  border-right: 8px solid #ffffff;
}

.roomContainerWrapper .roomContainer .roomContent .chat .time {
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 13px;
  margin-left: 5px;
}

.roomContainerWrapper .roomContainer .roomContent .myChat {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 10px;
}

.roomContainerWrapper .roomContainer .roomContent .myChat img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-left: 10px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 3px;
}

.roomContainerWrapper .roomContainer .roomContent .myChat .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.roomContainerWrapper .roomContainer .roomContent .myChat .content .name {
  font-size: 17px;
  font-weight: bold;
  margin-right: 10px;
  margin-bottom: 3px;
}

.roomContainerWrapper .roomContainer .roomContent .myChat .content .speechBuble {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 3px;
  position: relative;
  margin-right: 10px;
  max-width: 330px;
  word-break: break-all;
}

.roomContainerWrapper .roomContainer .roomContent .myChat .content .speechBuble:before {
  content: "";
  position: absolute;
  top: 5px;
  right: -13px;
  border-bottom: 8px solid transparent;
  border-top: 8px solid #ffffff;
  border-left: 8px solid #ffffff;
  border-right: 8px solid transparent;
}

.roomContainerWrapper .roomContainer .roomContent .myChat .time {
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 13px;
  margin-right: 5px;
}

.roomContainerWrapper .roomContainer .roomContent .top {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.roomContainerWrapper .roomContainer .roomContent .top .time {
  display: none;
}

.roomContainerWrapper .roomContainer .roomContent .last {
  padding-top: 0px;
  margin-top: 0px;
}

.roomContainerWrapper .roomContainer .roomContent .last img {
  visibility: hidden;
}

.roomContainerWrapper .roomContainer .roomContent .last .name {
  display: none;
}

.roomContainerWrapper .roomContainer .roomContent .last .content .speechBuble:before {
  display: none;
}

.roomContainerWrapper .roomContainer .roomContent .middle {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.roomContainerWrapper .roomContainer .roomContent .middle img {
  visibility: hidden;
}

.roomContainerWrapper .roomContainer .roomContent .middle .time {
  display: none;
}

.roomContainerWrapper .roomContainer .roomContent .middle .name {
  display: none;
}

.roomContainerWrapper .roomContainer .roomContent .middle .content .speechBuble:before {
  display: none;
}

.roomContainerWrapper .roomContainer .chatInputWrap {
  height: 60px;
}

.roomContainerWrapper .roomContainer .chatInputWrap .chatForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: pink;
  height: 100%;
}

.roomContainerWrapper .roomContainer .chatInputWrap .chatForm input {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 5px;
}

.roomContainerWrapper .roomContainer .chatInputWrap .chatForm button {
  height: 100%;
  background: #ffee40;
  width: 70px;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(71, 71, 71, 0.6);
  font-size: 15px;
}

.profileContainerWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profileContainerWrapper .profileContainer {
  border: 1px solid #4a3134;
  overflow: auto;
  width: 500px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.profileContainerWrapper .profileContainer .backgroundImg {
  height: 600px;
  background-color: #cbab18;
}

.profileContainerWrapper .profileContainer .backgroundImg img {
  height: 100%;
  width: 100%;
  z-index: 1;
}

.profileContainerWrapper .profileContainer .container {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profileContainerWrapper .profileContainer .container .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -120px;
}

.profileContainerWrapper .profileContainer .container .profile .name {
  font-size: 22px;
  font-weight: bold;
  margin-top: 20px;
}

.profileContainerWrapper .profileContainer .container .profile .email {
  padding: 5px 10px;
  border-radius: 50px;
  font-size: 13px;
  margin-top: 15px;
  -webkit-box-shadow: 0px 0px 2px 0.5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 2px 0.5px rgba(0, 0, 0, 0.1);
}

.profileContainerWrapper .profileContainer .container .profile .email span {
  opacity: 0.6;
}

.profileContainerWrapper .profileContainer .container .profile .thumbnail {
  width: 160px;
  height: 160px;
  border-radius: 65px;
}

.profileContainerWrapper .profileContainer .container .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 100px;
  margin-top: 90px;
  margin-bottom: 30px;
}

.profileContainerWrapper .profileContainer .container .button .buttonElement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80px;
  cursor: pointer;
}

.profileContainerWrapper .profileContainer .container .button .buttonElement div {
  background-color: rgba(0, 0, 0, 0.1);
  width: 70px;
  height: 70px;
  padding: 10px;
  border-radius: 50%;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profileContainerWrapper .profileContainer .container .button .buttonElement div img {
  width: 65%;
}

.profileContainerWrapper .profileContainer .container .button .buttonElement span {
  font-size: 14px;
  font-weight: bold;
}

.profileContainerWrapper .profileContainer .closeProfile {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  position: relative;
  left: 20px;
  top: -580px;
  cursor: pointer;
  z-index: 2;
}

.logout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 300px;
}

.logout .logoutButton {
  background-color: #a0b7d6;
  color: white;
  font-size: 30px;
  font-weight: bold;
  padding: 15px 25px;
  border-radius: 40px;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */